.gx-app-login-container {
  height: 60% !important;
  overflow-y: hidden;
  border-radius: 12px;
}

.gx-app-login-main-content {
  height: 100%;
  overflow-y: scroll;
}

.gx-app-logo-content {
  height: 100%;
}

.gx-app-login-content {
  height: 100%;
  overflow-y: scroll;
}
